<div class="form-group">
  <label>{{labelName}}<small *ngIf="optional === true">(optional)</small></label>
  <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" minlength="{{minLength}}" maxlength="{{maxLength}}" required>
  <div [hidden] ="optional === true">
    <div *ngIf ="(password.errors?.required)" class="alert alert-danger">
      This field is required
    </div>
  </div>
  <div *ngIf="password.errors?.minlength"  class="alert alert-danger">
    Min length should be {{minLength}}
  </div>
  <div *ngIf="password.errors?.maxlength"  class="alert alert-danger">
    Max length should not exceed more than {{maxLength}}
  </div>
</div>
