<div class="container">
  <form #userForm="ngForm">
    maxlength not showing error on reaching the max limit ......
    <app-input-field-text [labelName]="'Middle name'" [optional]="true"></app-input-field-text>
    <app-input-field-text [labelName]="'Firstname'"  [minLength]="6" [maxLength]="10"></app-input-field-text>
    <app-input-field-text [labelName]="'Lastname'" [minLength]="7" ></app-input-field-text>
    <button class="btn btn-primary">Send</button>
    <button type="button" class="btn btn-primary" (click)="userForm.reset()">Reset</button>
  </form>
</div>
